nodered-examples/flows_mcm-bluebox.json
[{"type":"tab","id":"76510937.065e08","label":"Flow 1"},{"type":"tab","id":"ff2f375.d5220c8","label":"Examples"},{"type":"tab","id":"1d72ac24.eb0b74","label":"Flow 2"},{"type":"tab","id":"ea0625bf.dcff08","label":"Weather"},{"type":"tab","id":"5d61e96.8d7e018","label":"Tempsensor"},{"type":"tab","id":"8b1913cc.19a3c","label":"Graph Visualization"},{"id":"9df20e1e.d3d22","type":"sqlitedb","z":"76510937.065e08","db":"/tmp/metadata.sqlite"},{"id":"db5fe830.3fbbe8","type":"debug","z":"76510937.065e08","name":"","active":true,"console":"false","complete":"payload","x":1164.0000610351562,"y":1143.0000610351562,"wires":[]},{"id":"614f0753.a3ad18","type":"function","z":"76510937.065e08","name":"query2","func":"msg.topic=\"select MD_content_type, count(MD_content_type) as 'number of docs' from MetaDataTable_SwiftInternal GROUP BY MD_content_type;\" \nreturn msg;","outputs":1,"noerr":0,"x":389.99998474121094,"y":985.0000610351562,"wires":[["3164c3e6.accbfc"]]},{"id":"327f4379.7c060c","type":"inject","z":"76510937.065e08","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":120,"y":1062.0000610351562,"wires":[["614f0753.a3ad18"]]},{"id":"3164c3e6.accbfc","type":"sqlite","z":"76510937.065e08","mydb":"9df20e1e.d3d22","name":"","x":615.9999847412109,"y":979.0000610351562,"wires":[["bd883e94.5f0f2"]]},{"id":"bd883e94.5f0f2","type":"http response","z":"76510937.065e08","name":"","x":858.9999847412109,"y":978.0000610351562,"wires":[]},{"id":"92766213.3bf63","type":"http in","z":"76510937.065e08","name":"documents by content type","url":"/q2","method":"get","swaggerDoc":"","x":143,"y":961.0000610351562,"wires":[["614f0753.a3ad18"]]},{"id":"30cfbe37.f0ab02","type":"function","z":"76510937.065e08","name":"query2","func":"msg.topic=\"select count(MD_content_type) as 'number of docs', sum(MD_content_length)/(1024*1024) as 'size of docs in MB' from MetaDataTable_SwiftInternal GROUP BY MD_content_type;\" \nreturn msg;","outputs":1,"noerr":0,"x":410.99998474121094,"y":681.0000915527344,"wires":[["b81d1066.11909"]]},{"id":"837098b.f14e368","type":"inject","z":"76510937.065e08","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":108,"y":697.0000305175781,"wires":[["30cfbe37.f0ab02"]]},{"id":"b81d1066.11909","type":"sqlite","z":"76510937.065e08","mydb":"9df20e1e.d3d22","name":"","x":669.9999847412109,"y":681.0000305175781,"wires":[["53b53d26.24db04","db5fe830.3fbbe8"]]},{"id":"53b53d26.24db04","type":"http response","z":"76510937.065e08","name":"","x":880.9999847412109,"y":670.0000305175781,"wires":[]},{"id":"6e2392f3.6b8d9c","type":"http in","z":"76510937.065e08","name":"doc type statistics--MBs","url":"/contentsize","method":"get","swaggerDoc":"","x":118,"y":629.0000305175781,"wires":[["30cfbe37.f0ab02"]]},{"id":"daadae26.80d4c","type":"function","z":"76510937.065e08","name":"query7","func":"msg.topic=\"select j.MD_image_xresolution, (s.MD_content_length/1024) as 'size of object in KB' from MetaDataTable_jpeg as j, MetaDataTable_SwiftInternal as s  where j.MD_image_xresolution is not null and j.MD_containerName = s.MD_containerName and j.MD_name= s.MD_name and s.MD_content_type= 'image/jpeg';\"\nreturn msg;","outputs":1,"noerr":0,"x":371.99998474121094,"y":789.8892822265625,"wires":[["115e1e2a.0de592"]]},{"id":"115e1e2a.0de592","type":"sqlite","z":"76510937.065e08","mydb":"9df20e1e.d3d22","name":"","x":565.9999847412109,"y":791.8892822265625,"wires":[["604cb880.81b788"]]},{"id":"604cb880.81b788","type":"http response","z":"76510937.065e08","name":"","x":775.9999847412109,"y":789.88916015625,"wires":[]},{"id":"798dbbf0.678f64","type":"http in","z":"76510937.065e08","name":"jpeg length & resolution","url":"/jpegLengthResolution","method":"get","swaggerDoc":"","x":133,"y":759.8890380859375,"wires":[["daadae26.80d4c"]]},{"id":"56e831c8.df5cf","type":"inject","z":"76510937.065e08","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":108.89582824707031,"y":834.666748046875,"wires":[["daadae26.80d4c"]]},{"id":"5d99eef2.cac35","type":"http in","z":"76510937.065e08","name":"Extraction Modified Dates","url":"/extraction&ModifiedDates","method":"get","swaggerDoc":"","x":115,"y":1312.77783203125,"wires":[["c6c3b383.d4935"]]},{"id":"a83833a9.56576","type":"inject","z":"76510937.065e08","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":107.89582824707031,"y":1389.5555419921875,"wires":[["c6c3b383.d4935"]]},{"id":"c008bdb0.9a7d6","type":"sqlite","z":"76510937.065e08","mydb":"9df20e1e.d3d22","name":"","x":588.9999847412109,"y":1381.7780151367188,"wires":[["9c6b4655.8da6e8","db5fe830.3fbbe8"]]},{"id":"c6c3b383.d4935","type":"function","z":"76510937.065e08","name":"query8","func":"msg.topic=\"select MD_name, MD_extractionDate, MD_last_modified from MetaDataTable_SwiftInternal;\"\nreturn msg;","outputs":1,"noerr":0,"x":340.99998474121094,"y":1381.778076171875,"wires":[["c008bdb0.9a7d6"]]},{"id":"9c6b4655.8da6e8","type":"http response","z":"76510937.065e08","name":"","x":912.9999847412109,"y":1420.77783203125,"wires":[]},{"id":"1a774f82.19f3e","type":"function","z":"76510937.065e08","name":"query6","func":"msg.topic='SELECT ROUND(MD_content_length/1000000, 0) as \"MBs\", count(MD_content_length) as \"number of objects\" FROM MetaDataTable_SwiftInternal GROUP BY ROUND(MD_content_length/1000000, 0) ORDER BY ROUND(MD_content_length/1000000, 0);';\nreturn msg;","outputs":1,"noerr":0,"x":327.8957977294922,"y":2063.444580078125,"wires":[["98c386fc.3fc628"]]},{"id":"7876c949.1d0558","type":"inject","z":"76510937.065e08","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":93.89581298828125,"y":1999.444580078125,"wires":[["1a774f82.19f3e"]]},{"id":"98c386fc.3fc628","type":"sqlite","z":"76510937.065e08","mydb":"9df20e1e.d3d22","name":"","x":574.8957977294922,"y":2070.444580078125,"wires":[["3ac52ee1.35cb32"]]},{"id":"3ac52ee1.35cb32","type":"http response","z":"76510937.065e08","name":"","x":876.8957977294922,"y":2023.444580078125,"wires":[]},{"id":"292abfb4.ee24b","type":"http in","z":"76510937.065e08","name":"object size distribution - 1MB","url":"/osd1mb","method":"get","swaggerDoc":"","x":125,"y":1913.444580078125,"wires":[["1a774f82.19f3e"]]},{"id":"3f75e7e8.534428","type":"function","z":"76510937.065e08","name":"query6","func":"msg.topic=\"SELECT ROUND(MD_content_length/100000, 0) as '100KBs', count(MD_content_length) as 'number of objects' FROM MetaDataTable_SwiftInternal where ROUND(MD_content_length/100000, 0)!= 0 GROUP BY ROUND(MD_content_length/100000, 0) ORDER BY ROUND(MD_content_length/100000, 0) desc limit 20;\"\nreturn msg;","outputs":1,"noerr":0,"x":367,"y":2288,"wires":[["b0b771b7.a2425"]]},{"id":"e45c22ad.d6c7f","type":"inject","z":"76510937.065e08","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":133.00001525878906,"y":2224,"wires":[["3f75e7e8.534428"]]},{"id":"b0b771b7.a2425","type":"sqlite","z":"76510937.065e08","mydb":"9df20e1e.d3d22","name":"","x":614,"y":2295,"wires":[["9695fdc0.5980c"]]},{"id":"9695fdc0.5980c","type":"http response","z":"76510937.065e08","name":"","x":916,"y":2248,"wires":[]},{"id":"48143edc.b39e","type":"http in","z":"76510937.065e08","name":"object size distribution - 100kb","url":"/osd100kb","method":"get","swaggerDoc":"","x":164.1042022705078,"y":2138,"wires":[["3f75e7e8.534428"]]},{"id":"8fe89191.71dd3","type":"function","z":"76510937.065e08","name":"query6","func":"msg.topic=\"SELECT ROUND(MD_content_length/100000, 0) as '100KBs', count(MD_content_length) as 'number of objects', count(MD_content_length)+100 as 'number of objects2' FROM MetaDataTable_SwiftInternal GROUP BY ROUND(MD_content_length/100000, 0) ORDER BY ROUND(MD_content_length/100000, 0);\"\nreturn msg;","outputs":1,"noerr":0,"x":386.99998474121094,"y":2535,"wires":[["31290c9e.2d1ce4"]]},{"id":"ba349e75.890ff","type":"inject","z":"76510937.065e08","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":153,"y":2471,"wires":[["8fe89191.71dd3"]]},{"id":"31290c9e.2d1ce4","type":"sqlite","z":"76510937.065e08","mydb":"9df20e1e.d3d22","name":"","x":633.9999847412109,"y":2542,"wires":[["c2546572.211b38"]]},{"id":"c2546572.211b38","type":"http response","z":"76510937.065e08","name":"","x":935.9999847412109,"y":2495,"wires":[]},{"id":"c02ff6bf.1e9658","type":"http in","z":"76510937.065e08","name":"object size distribution - 100kb-test","url":"/osd100kb-test","method":"get","swaggerDoc":"","x":204.10418701171875,"y":2385,"wires":[["8fe89191.71dd3"]]},{"id":"6db3f7ef.878938","type":"function","z":"76510937.065e08","name":"query7","func":"msg.topic=\"select email.MD_from as 'Sender', sum(MD_content_length) as 'email total length' from MetaDataTable_email as email, MetaDataTable_SwiftInternal as swift where email.MD_from is not null and email.MD_containerName = swift.MD_containerName and email.MD_name = swift.MD_name group by email.MD_from order by  sum(MD_content_length) desc limit 20;\"\nreturn msg;","outputs":1,"noerr":0,"x":361.99999237060547,"y":2799.666748046875,"wires":[["40ad3fe5.59c8b"]]},{"id":"ca8de74b.ee17c8","type":"inject","z":"76510937.065e08","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":128.00000762939453,"y":2735.666748046875,"wires":[["6db3f7ef.878938"]]},{"id":"40ad3fe5.59c8b","type":"sqlite","z":"76510937.065e08","mydb":"9df20e1e.d3d22","name":"","x":608.9999923706055,"y":2806.666748046875,"wires":[["9a6f6fab.0ef8"]]},{"id":"9a6f6fab.0ef8","type":"http response","z":"76510937.065e08","name":"","x":910.9999923706055,"y":2759.666748046875,"wires":[]},{"id":"22b14e05.86a7f2","type":"http in","z":"76510937.065e08","name":"who wrote the longest email","url":"/longestEmailWriter","method":"get","swaggerDoc":"","x":159.10419464111328,"y":2649.666748046875,"wires":[["6db3f7ef.878938"]]},{"id":"97cdc0bb.3c56e","type":"function","z":"1d72ac24.eb0b74","name":"query6","func":"msg.topic='select MD_image_size as \"image resolution\", count(MD_image_size) as \"number of images\" from MetaDataTable_jpeg group by MD_image_size order by count(MD_image_size);';\nreturn msg;","outputs":1,"noerr":0,"x":237,"y":363,"wires":[["e229eb81.2834a8"]]},{"id":"e229eb81.2834a8","type":"sqlite","z":"1d72ac24.eb0b74","mydb":"9df20e1e.d3d22","name":"","x":339,"y":458,"wires":[["513c9745.de09d8"]]},{"id":"513c9745.de09d8","type":"http response","z":"1d72ac24.eb0b74","name":"","x":464,"y":202,"wires":[]},{"id":"311aedd0.e821c2","type":"http in","z":"1d72ac24.eb0b74","name":"image resolution distribution","url":"/image-resolution","method":"get","swaggerDoc":"","x":211.1042022705078,"y":192,"wires":[["97cdc0bb.3c56e"]]},{"id":"93090bca.101978","type":"function","z":"76510937.065e08","name":"query9","func":"msg.topic=\"select MD_name, count(MD_from) as 'number of senders' , count(MD_to) as 'number of receivers(to)', count(MD_x_cc) as 'number of cc' from MetaDataTable_email GROUP BY MD_name;\"\nreturn msg;","outputs":1,"noerr":0,"x":327.8957977294922,"y":3466.111328125,"wires":[["3b981124.fc909e"]]},{"id":"f1297794.da8208","type":"inject","z":"76510937.065e08","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":93.89581298828125,"y":3402.111328125,"wires":[["93090bca.101978"]]},{"id":"3b981124.fc909e","type":"sqlite","z":"76510937.065e08","mydb":"9df20e1e.d3d22","name":"","x":574.8957977294922,"y":3473.111328125,"wires":[["dcd16c7.e19459"]]},{"id":"dcd16c7.e19459","type":"http response","z":"76510937.065e08","name":"","x":867.8957977294922,"y":3491.111328125,"wires":[]},{"id":"6724ec44.b113c4","type":"http in","z":"76510937.065e08","name":"Senders and receivers distributions","url":"/distributionSenderReceiver","method":"get","swaggerDoc":"","x":145,"y":3548.111328125,"wires":[["93090bca.101978"]]},{"id":"ba04d993.498b18","type":"function","z":"76510937.065e08","name":"query2","func":"msg.topic=\"select count(MD_content_type) as 'number of docs', sum(MD_content_length)/1024 as 'size of docs in KB' from MetaDataTable_SwiftInternal GROUP BY MD_content_type order by 'size of docs in KB' desc limit 20 offset 15;\" \nreturn msg; ","outputs":1,"noerr":0,"x":432.99998474121094,"y":466.4444580078125,"wires":[["16293557.f5451b"]]},{"id":"7184edb8.c597e4","type":"inject","z":"76510937.065e08","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":107,"y":507.4444580078125,"wires":[["ba04d993.498b18"]]},{"id":"16293557.f5451b","type":"sqlite","z":"76510937.065e08","mydb":"9df20e1e.d3d22","name":"","x":649.9999847412109,"y":475.4444580078125,"wires":[["ccd93cfe.c3c93"]]},{"id":"ccd93cfe.c3c93","type":"http response","z":"76510937.065e08","name":"","x":888.9999847412109,"y":469.4444580078125,"wires":[]},{"id":"83e7e314.00ae8","type":"http in","z":"76510937.065e08","name":"doc type statistics--KBs","url":"/contentsizeKBs","method":"get","swaggerDoc":"","x":116,"y":429.4444580078125,"wires":[["ba04d993.498b18"]]},{"id":"faa8f57f.309e08","type":"http request","z":"ea0625bf.dcff08","name":"twcservice","method":"GET","ret":"obj","url":"https://twcservice.eu-gb.mybluemix.net/api/weather/v2/{{{topic}}}","x":452,"y":310,"wires":[["380d0ab4.8459e6"]]},{"id":"fa3e6521.bbb278","type":"function","z":"ea0625bf.dcff08","name":"query","func":"msg.topic=\"forecast/hourly/24hour?units=m&geocode=48.77%2C9.11&language=en-US\";\nreturn msg;","outputs":1,"noerr":0,"x":349,"y":189,"wires":[["faa8f57f.309e08"]]},{"id":"713e4c1.81c7ab4","type":"debug","z":"ea0625bf.dcff08","name":"","active":true,"console":"false","complete":"false","x":853.9999847412109,"y":317,"wires":[]},{"id":"6309878c.68a078","type":"inject","z":"ea0625bf.dcff08","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":137,"y":77,"wires":[["fa3e6521.bbb278"]]},{"id":"380d0ab4.8459e6","type":"function","z":"ea0625bf.dcff08","name":"extract forecasts","func":"var f = msg.payload.forecasts;\nmsg.payload = f;\nreturn msg;","outputs":1,"noerr":0,"x":634,"y":374,"wires":[["713e4c1.81c7ab4","cc00b187.55b3a"]]},{"id":"9bd91906.4ed348","type":"http in","z":"ea0625bf.dcff08","name":"24h forecast Stuttgart -all","url":"/weather1","method":"get","swaggerDoc":"","x":134,"y":252,"wires":[["fa3e6521.bbb278"]]},{"id":"cc00b187.55b3a","type":"http response","z":"ea0625bf.dcff08","name":"","x":866.9999847412109,"y":378,"wires":[]},{"id":"9e9add65.9b893","type":"http request","z":"ea0625bf.dcff08","name":"twcservice","method":"GET","ret":"obj","url":"https://twcservice.eu-gb.mybluemix.net/api/weather/v2/{{{topic}}}","x":439,"y":726,"wires":[["904475f6.1a5558","ec105a10.7ddc48"]]},{"id":"580f561d.307138","type":"function","z":"ea0625bf.dcff08","name":"query","func":"msg.topic=\"forecast/hourly/24hour?units=m&geocode=48.77%2C9.11&language=en-US\";\nreturn msg;","outputs":1,"noerr":0,"x":336,"y":605,"wires":[["9e9add65.9b893"]]},{"id":"ec105a10.7ddc48","type":"debug","z":"ea0625bf.dcff08","name":"","active":true,"console":"false","complete":"false","x":821,"y":704,"wires":[]},{"id":"812d0061.4dca8","type":"inject","z":"ea0625bf.dcff08","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":118,"y":487,"wires":[["580f561d.307138"]]},{"id":"904475f6.1a5558","type":"function","z":"ea0625bf.dcff08","name":"extract forecasts","func":"var f = msg.payload.forecasts;\nmsg.payload = f;\nreturn msg;","outputs":1,"noerr":0,"x":621,"y":790,"wires":[["3ac4ffd.7f405"]]},{"id":"c092e71d.6a6c98","type":"http in","z":"ea0625bf.dcff08","name":"24h forecast Stuttgart -only temp","url":"/weather2","method":"get","swaggerDoc":"","x":169,"y":530,"wires":[["580f561d.307138"]]},{"id":"3074f009.4c86b","type":"http response","z":"ea0625bf.dcff08","name":"","x":836,"y":748,"wires":[]},{"id":"3ac4ffd.7f405","type":"function","z":"ea0625bf.dcff08","name":"only day/temp","func":"var f = msg.payload;\nvar r = [];\nfor (var fc of f) {\n    r.push({\n        \"day\": fc.dow + \".\" + fc.day_ind + \" \" + fc.num,\n        \"temp\" : fc.temp,\n        \"feel\" : fc.feels_like\n    });\n}\nmsg.payload = r;\nreturn msg;","outputs":1,"noerr":0,"x":670.9999847412109,"y":877,"wires":[["ec105a10.7ddc48","3074f009.4c86b"]]},{"id":"460cd8a7.9deac8","type":"http in","z":"76510937.065e08","name":"documents per content type","url":"/contenttypeNumbers","method":"get","swaggerDoc":"","x":162.83334350585938,"y":107.80555725097656,"wires":[["2a54bf1b.2959b"]]},{"id":"2a54bf1b.2959b","type":"function","z":"76510937.065e08","name":"q10","func":"msg.topic = \"Select MD_content_type, count(MD_content_type) from MetaDataTable_SwiftInternal GROUP BY MD_content_type;\"\nreturn msg;","outputs":1,"noerr":0,"x":378.8263702392578,"y":137.79861450195312,"wires":[["8d83f978.c8b898"]]},{"id":"8d83f978.c8b898","type":"sqlite","z":"76510937.065e08","mydb":"9df20e1e.d3d22","name":"","x":615.8402557373047,"y":131.20486450195312,"wires":[["6beab80a.6d74b8","6f2827e.01554d8"]]},{"id":"6beab80a.6d74b8","type":"http response","z":"76510937.065e08","name":"","x":806.8264007568359,"y":85.22222900390625,"wires":[]},{"id":"6f2827e.01554d8","type":"debug","z":"76510937.065e08","name":"","active":true,"console":"false","complete":"false","x":844.8333587646484,"y":179.8194580078125,"wires":[]},{"id":"9de9cf95.12406","type":"inject","z":"76510937.065e08","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":148.8402862548828,"y":219.95834350585938,"wires":[["2a54bf1b.2959b"]]},{"id":"7b4a51ee.bbf1f","type":"inject","z":"5d61e96.8d7e018","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":269,"y":270,"wires":[["99ce0469.b09f28"]]},{"id":"31c8eea1.2743b2","type":"debug","z":"5d61e96.8d7e018","name":"","active":false,"console":"false","complete":"false","x":954,"y":341,"wires":[]},{"id":"99ce0469.b09f28","type":"function","z":"5d61e96.8d7e018","name":"","func":"msg.payload = \"SELECT TIMEST, TEMP1 as Inside, TEMP2 as Outside FROM TEMPSENSOR ORDER BY TIMEST DESC LIMIT 300;\";\nreturn msg;","outputs":1,"noerr":0,"x":491,"y":131,"wires":[["55149a75.393164"]]},{"id":"55149a75.393164","type":"dashDB in","z":"5d61e96.8d7e018","service":"caf0461a-2d5d-4aca-_Cloudant_3730075175447972","query":"","params":"","name":"","x":628,"y":311,"wires":[["31c8eea1.2743b2","d649ef6.e4e171"]]},{"id":"d649ef6.e4e171","type":"http response","z":"5d61e96.8d7e018","name":"","x":925,"y":105,"wires":[]},{"id":"63546623.980dc8","type":"http in","z":"5d61e96.8d7e018","name":"live weather in sindelfingen","url":"/weather-sindelfingen","method":"get","swaggerDoc":"","x":323,"y":57,"wires":[["99ce0469.b09f28"]]},{"id":"acc19695.c4d878","type":"function","z":"8b1913cc.19a3c","name":"query9","func":"msg.topic=\"select DISTINCT MD_from as 'sender' , MD_to as 'receiver' from MetaDataTable_email  where MD_from is not null and MD_to is not null order by 'sender' desc limit 20;\"\nreturn msg;","outputs":1,"noerr":0,"x":327.8957977294922,"y":254,"wires":[["21b10c50.ba3874"]]},{"id":"84cbc29.da45f4","type":"inject","z":"8b1913cc.19a3c","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":93.89581298828125,"y":190,"wires":[["acc19695.c4d878"]]},{"id":"21b10c50.ba3874","type":"sqlite","z":"8b1913cc.19a3c","mydb":"9df20e1e.d3d22","name":"","x":574.8957977294922,"y":261,"wires":[["fff162ab.5d16c"]]},{"id":"307497dd.108318","type":"http response","z":"8b1913cc.19a3c","name":"","x":885.8957977294922,"y":159,"wires":[]},{"id":"24d5467c.a8dfaa","type":"http in","z":"8b1913cc.19a3c","name":"communication edge list","url":"/communicationSet","method":"get","swaggerDoc":"","x":115,"y":104,"wires":[["acc19695.c4d878"]]},{"id":"fff162ab.5d16c","type":"function","z":"8b1913cc.19a3c","name":"function1","func":"var f = msg.payload;\nvar r = [];\nvar to;\nfor (var fc of f) {\n    to=fc.receiver.split(',');\n    r.push({\n        sender: fc.sender,\n        receiver : to[0],\n    });\n}\nmsg.payload = r;\nreturn msg;\n","outputs":1,"noerr":0,"x":768.7291717529297,"y":274.017333984375,"wires":[["307497dd.108318","a25b2268.2025c"]]},{"id":"a25b2268.2025c","type":"debug","z":"8b1913cc.19a3c","name":"","active":true,"console":"false","complete":"false","x":925.7360992431641,"y":353.5937496938841,"wires":[]},{"id":"4d5c7a32.8e2624","type":"function","z":"8b1913cc.19a3c","name":"query10","func":"msg.topic=\"select DISTINCT MD_from as 'sender' , DISTINCT MD_to as 'receiver' from MetaDataTable_email  where MD_from is not null and MD_to is not null order by 'sender' desc limit 20;\"\nreturn msg;","outputs":1,"noerr":0,"x":337.8957977294922,"y":521.888916015625,"wires":[["b792c930.377bb8"]]},{"id":"e53f97d7.f7f058","type":"inject","z":"8b1913cc.19a3c","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":93.89581298828125,"y":457.888916015625,"wires":[["4d5c7a32.8e2624"]]},{"id":"b792c930.377bb8","type":"sqlite","z":"8b1913cc.19a3c","mydb":"9df20e1e.d3d22","name":"","x":574.8957977294922,"y":528.888916015625,"wires":[["b8b0fe1d.41594"]]},{"id":"c4366928.8ae0c8","type":"http response","z":"8b1913cc.19a3c","name":"","x":885.8957977294922,"y":426.888916015625,"wires":[]},{"id":"6daf979.6dbcf68","type":"http in","z":"8b1913cc.19a3c","name":"communication edge list","url":"/communicationSet2","method":"get","swaggerDoc":"","x":115,"y":371.888916015625,"wires":[["4d5c7a32.8e2624"]]},{"id":"b8b0fe1d.41594","type":"function","z":"8b1913cc.19a3c","name":"function1","func":"var f = msg.payload;\nvar r = [];\nvar to;\nfor (var fc of f) {\n    to=fc.receiver.split(',');\n    r.push({\n        sender: fc.sender,\n        receiver : to[0],\n    });\n}\nmsg.payload = r;\nreturn msg;\n","outputs":1,"noerr":0,"x":768.7291717529297,"y":541.90625,"wires":[["c4366928.8ae0c8","f0b0b8ea.51c1f8"]]},{"id":"f0b0b8ea.51c1f8","type":"debug","z":"8b1913cc.19a3c","name":"","active":true,"console":"false","complete":"false","x":925.7360992431641,"y":621.4826657095091,"wires":[]}]