nodered-examples/flows_mcm-bluebox.json
[{"id":"76510937.065e08","type":"tab","label":"Flow 1"},{"id":"ff2f375.d5220c8","type":"tab","label":"Examples"},{"id":"9df20e1e.d3d22","type":"sqlitedb","z":"76510937.0
65e08","db":"/tmp/metadata.sqlite"},{"id":"68fb1883.2aba58","type":"postgresdb","z":"76510937.065e08","hostname":"localhost","port":"5432","db":"mcm-metadata_ea012720129
645d9b32b23b4af5c154f","ssl":false},{"id":"daadae26.80d4c","type":"function","z":"76510937.065e08","name":"","func":"msg.payload='select j.MD_image_xresolution, (s.MD_co
ntent_length::integer/1024) as \"size of object in KB\" from filter_jpeg as j, filter_SwiftInternal as s  where j.MD_image_xresolution is not null and j.MD_containerName
 = s.MD_containerName and j.MD_name=s.MD_name and s.MD_content_type=\\'image/jpeg\\';'\nreturn msg;","outputs":1,"noerr":0,"x":413,"y":324.8892822265625,"wires":[["63ea9
2cd.8d29cc"]]},{"id":"798dbbf0.678f64","type":"http in","z":"76510937.065e08","name":"jpeg length & resolution","url":"/jpegLengthResolution","method":"get","swaggerDoc"
:"","x":159,"y":373.8890380859375,"wires":[["daadae26.80d4c"]]},{"id":"56e831c8.df5cf","type":"inject","z":"76510937.065e08","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":134.8958282470703,"y":448.666748046875,"wires":[["daadae26.80d4c"]]},{"id":"5d99eef2.cac35","type":"http in","z":"76510937.065e08","name":"Extraction & Modified Dates","url":"/extractionModifiedDates","method":"get","swaggerDoc":"","x":175.00001525878906,"y":498.77783203125,"wires":[["c6c3b383.d4935"]]},{"id":"a83833a9.56576","type":"inject","z":"76510937.065e08","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":148.89584350585938,"y":537.5555419921875,"wires":[["c6c3b383.d4935"]]},{"id":"c6c3b383.d4935","type":"function","z":"76510937.065e08","name":"","func":"msg.payload=\"select MD_name, MD_extractionDate, MD_last_modified from filter_SwiftInternal LIMIT 1000;\"\nreturn msg;","outputs":1,"noerr":0,"x":426,"y":393.778076171875,"wires":[["63ea92cd.8d29cc"]]},{"id":"1a774f82.19f3e","type":"function","z":"76510937.065e08","name":"","func":"msg.payload='SELECT ROUND(MD_content_length::integer/1000000, 0)::integer as \"MBs\", count(MD_content_length)::integer as \"number of objects\" FROM filter_SwiftInternal GROUP BY ROUND(MD_content_length::integer/1000000, 0) ORDER BY ROUND(MD_content_length::integer/1000000, 0);';\nreturn msg;","outputs":1,"noerr":0,"x":435.89581298828125,"y":553.444580078125,"wires":[["63ea92cd.8d29cc"]]},{"id":"7876c949.1d0558","type":"inject","z":"76510937.065e08","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":186.8958282470703,"y":685.444580078125,"wires":[["1a774f82.19f3e"]]},{"id":"292abfb4.ee24b","type":"http in","z":"76510937.065e08","name":"object size distribution - 1MB","url":"/osd1mb","method":"get","swaggerDoc":"","x":155.00001525878906,"y":638.444580078125,"wires":[["1a774f82.19f3e"]]},{"id":"3f75e7e8.534428","type":"function","z":"76510937.065e08","name":"","func":"msg.payload='SELECT ROUND(MD_content_length::integer/100000, 0)::integer as \"100KBs\", count(MD_content_length)::integer as \"number of objects\" FROM filter_SwiftInternal GROUP BY ROUND(MD_content_length::integer/100000, 0) ORDER BY ROUND(MD_content_length::integer/100000, 0) LIMIT 100;';\nreturn msg;","outputs":1,"noerr":0,"x":465,"y":669,"wires":[["63ea92cd.8d29cc"]]},{"id":"e45c22ad.d6c7f","type":"inject","z":"76510937.065e08","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":196.00001525878906,"y":828,"wires":[["3f75e7e8.534428"]]},{"id":"48143edc.b39e","type":"http in","z":"76510937.065e08","name":"object size distribution - 100kb","url":"/osd100kb","method":"get","swaggerDoc":"","x":149.1042022705078,"y":782,"wires":[["3f75e7e8.534428"]]},{"id":"ba04d993.498b18","type":"function","z":"76510937.065e08","name":"","func":"msg.payload='select count(MD_content_type) as \"number of docs\", sum(MD_content_length::integer)/1024 as \"size of docs in KB\" from filter_SwiftInternal GROUP BY MD_content_type;'\nreturn msg; ","outputs":1,"noerr":0,"x":393,"y":242.4444580078125,"wires":[["63ea92cd.8d29cc"]]},{"id":"7184edb8.c597e4","type":"inject","z":"76510937.065e08","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":180,"y":287.4444580078125,"wires":[["ba04d993.498b18"]]},{"id":"83e7e314.00ae8","type":"http in","z":"76510937.065e08","name":"doc type statistics--KBs","url":"/contentsizeKBs","method":"get","swaggerDoc":"","x":146,"y":236.4444580078125,"wires":[["ba04d993.498b18"]]},{"id":"460cd8a7.9deac8","type":"http in","z":"76510937.065e08","name":"documents per content type","url":"/docsPerType","method":"get","swaggerDoc":"","x":162.83334350585938,"y":107.80555725097656,"wires":[["2a54bf1b.2959b"]]},{"id":"2a54bf1b.2959b","type":"function","z":"76510937.065e08","name":"","func":"msg.payload = \"Select MD_content_type, count(MD_content_type) from filter_SwiftInternal GROUP BY MD_content_type;\"\nreturn msg;","outputs":1,"noerr":0,"x":378.8263702392578,"y":137.79861450195312,"wires":[["63ea92cd.8d29cc"]]},{"id":"6beab80a.6d74b8","type":"http response","z":"76510937.065e08","name":"","x":1127.826416015625,"y":110.22222900390625,"wires":[]},{"id":"6f2827e.01554d8","type":"debug","z":"76510937.065e08","name":"","active":true,"console":"false","complete":"payload","x":1152.8333740234375,"y":149.8194580078125,"wires":[]},{"id":"9de9cf95.12406","type":"inject","z":"76510937.065e08","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":215.8402862548828,"y":153.95834350585938,"wires":[["2a54bf1b.2959b"]]},{"id":"63ea92cd.8d29cc","type":"postgres","z":"76510937.065e08","postgresdb":"68fb1883.2aba58","name":"mcm-metadata","output":true,"outputs":1,"x":728,"y":107,"wires":[["6beab80a.6d74b8","6f2827e.01554d8"]]}]