docker-nodered/files/flows_mcm-bluebox.json
[
  {
    "id": "f41f03e7.d80eb",
    "type": "tab",
    "label": "MCM examples"
  },
  {
    "id": "6caa9e06.edf06",
    "type": "inject",
    "z": "f41f03e7.d80eb",
    "name": "",
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "repeat": "",
    "crontab": "",
    "once": false,
    "x": 214,
    "y": 505.86119079589844,
    "wires": [
      []
    ]
  },
  {
    "id": "2fbc0942.a63796",
    "type": "http in",
    "z": "f41f03e7.d80eb",
    "name": "Extraction & Modified Dates",
    "url": "/extractionModifiedDates",
    "method": "get",
    "swaggerDoc": "",
    "x": 254.10418701171875,
    "y": 555.9722747802734,
    "wires": [
      [
        "6cf3ba2b.8aa93c"
      ]
    ]
  },
  {
    "id": "c05bf938.942988",
    "type": "inject",
    "z": "f41f03e7.d80eb",
    "name": "",
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "repeat": "",
    "crontab": "",
    "once": false,
    "x": 228.00001525878906,
    "y": 594.7499847412109,
    "wires": [
      [
        "6cf3ba2b.8aa93c"
      ]
    ]
  },
  {
    "id": "6cf3ba2b.8aa93c",
    "type": "function",
    "z": "f41f03e7.d80eb",
    "name": "",
    "func": "msg.payload=\"select MD_name, MD_extractionDate, MD_last_modified from filter_SwiftInternal LIMIT 1000;\"\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 505.1041717529297,
    "y": 450.97251892089844,
    "wires": [
      []
    ]
  },
  {
    "id": "13d7ccb3.f1d703",
    "type": "function",
    "z": "f41f03e7.d80eb",
    "name": "",
    "func": "msg.payload='SELECT ROUND(MD_content_length::integer/1000000, 0)::integer as \"MBs\", count(MD_content_length)::integer as \"number of objects\" FROM filter_SwiftInternal GROUP BY ROUND(MD_content_length::integer/1000000, 0) ORDER BY ROUND(MD_content_length::integer/1000000, 0);';\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 514.9999847412109,
    "y": 610.6390228271484,
    "wires": [
      []
    ]
  },
  {
    "id": "4b02c092.16dfa",
    "type": "inject",
    "z": "f41f03e7.d80eb",
    "name": "",
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "repeat": "",
    "crontab": "",
    "once": false,
    "x": 266,
    "y": 742.6390228271484,
    "wires": [
      [
        "13d7ccb3.f1d703"
      ]
    ]
  },
  {
    "id": "cc312790.1274c",
    "type": "http in",
    "z": "f41f03e7.d80eb",
    "name": "object size distribution - 1MB",
    "url": "/osd1mb",
    "method": "get",
    "swaggerDoc": "",
    "x": 234.10418701171875,
    "y": 695.6390228271484,
    "wires": [
      [
        "13d7ccb3.f1d703"
      ]
    ]
  },
  {
    "id": "1a1429c5.8886e6",
    "type": "function",
    "z": "f41f03e7.d80eb",
    "name": "",
    "func": "msg.payload='SELECT ROUND(MD_content_length::integer/100000, 0)::integer as \"100KBs\", count(MD_content_length)::integer as \"number of objects\" FROM filter_SwiftInternal GROUP BY ROUND(MD_content_length::integer/100000, 0) ORDER BY ROUND(MD_content_length::integer/100000, 0) LIMIT 100;';\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 544.1041717529297,
    "y": 726.1944427490234,
    "wires": [
      []
    ]
  },
  {
    "id": "4650c1f9.a52298",
    "type": "inject",
    "z": "f41f03e7.d80eb",
    "name": "",
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "repeat": "",
    "crontab": "",
    "once": false,
    "x": 275.10418701171875,
    "y": 885.1944427490234,
    "wires": [
      [
        "1a1429c5.8886e6"
      ]
    ]
  },
  {
    "id": "4bdaba78.beb55c",
    "type": "http in",
    "z": "f41f03e7.d80eb",
    "name": "object size distribution - 100kb",
    "url": "/osd100kb",
    "method": "get",
    "swaggerDoc": "",
    "x": 228.2083740234375,
    "y": 839.1944427490234,
    "wires": [
      [
        "1a1429c5.8886e6"
      ]
    ]
  },
  {
    "id": "1148bcd.20fa043",
    "type": "function",
    "z": "f41f03e7.d80eb",
    "name": "",
    "func": "msg.payload='select count(MD_content_type) as \"number of docs\", sum(MD_content_length::integer)/1024 as \"size of docs in KB\" from filter_SwiftInternal GROUP BY MD_content_type;'\nreturn msg; ",
    "outputs": 1,
    "noerr": 0,
    "x": 472.1041717529297,
    "y": 299.63890075683594,
    "wires": [
      []
    ]
  },
  {
    "id": "78cb71e2.232ca8",
    "type": "inject",
    "z": "f41f03e7.d80eb",
    "name": "",
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "repeat": "",
    "crontab": "",
    "once": false,
    "x": 259.1041717529297,
    "y": 344.63890075683594,
    "wires": [
      [
        "1148bcd.20fa043"
      ]
    ]
  },
  {
    "id": "a6077e11.ea1b8",
    "type": "http in",
    "z": "f41f03e7.d80eb",
    "name": "doc type statistics--KBs",
    "url": "/contentsizeKBs",
    "method": "get",
    "swaggerDoc": "",
    "x": 225.1041717529297,
    "y": 293.63890075683594,
    "wires": [
      [
        "1148bcd.20fa043"
      ]
    ]
  },
  {
    "id": "3d0e1272.6e41fe",
    "type": "http in",
    "z": "f41f03e7.d80eb",
    "name": "documents per content type",
    "url": "/docsPerType",
    "method": "get",
    "swaggerDoc": "",
    "x": 241.93751525878906,
    "y": 165,
    "wires": [
      [
        "9fce5ae9.74628"
      ]
    ]
  },
  {
    "id": "9fce5ae9.74628",
    "type": "function",
    "z": "f41f03e7.d80eb",
    "name": "",
    "func": "msg.payload = \"Select MD_content_type, count(MD_content_type) from filter_SwiftInternal GROUP BY MD_content_type;\"\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 457.9305419921875,
    "y": 194.99305725097656,
    "wires": [
      []
    ]
  },
  {
    "id": "2c8a8283.057096",
    "type": "inject",
    "z": "f41f03e7.d80eb",
    "name": "",
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "repeat": "",
    "crontab": "",
    "once": false,
    "x": 294.9444580078125,
    "y": 211.1527862548828,
    "wires": [
      [
        "9fce5ae9.74628"
      ]
    ]
  }
]